[submodule "affn"]
	path = dev-deps/affn
	url = git@github.com:Siderust/affn.git
[submodule "qtty"]
	path = dev-deps/qtty
	url = git@github.com:Siderust/qtty.git
[submodule "cheby"]
	path = dev-deps/cheby
	url = git@github.com:Siderust/cheby.git
[submodule "tempoch"]
	path = dev-deps/tempoch
	url = git@github.com:Siderust/tempoch.git
