[package]
name = "siderust"
version = "0.3.3"
edition = "2021"
authors = ["VPRamon <vallespuigramon@gmail.com>"]
description = "High-precision astronomy and satellite mechanics in Rust."
license = "AGPL-3.0"
readme = "README.md"
repository = "https://github.com/Siderust/siderust"
homepage = "https://github.com/Siderust/siderust"
keywords = ["astronomy", "satellite", "orbital-mechanics", "vsop87", "rust"]
categories = ["science", "aerospace", "simulation"]

[lib]
name = "siderust"

[dependencies]
affn = "0.2.0"
approx = "0.5"
chrono = "0.4.42"
nalgebra = "0.34.1"
paste = "1.0"
rayon = "1.11"
qtty = "0.2.2"

[dev-dependencies]
rstest = "0.26"
criterion = "0.8.1"

[build-dependencies]
walkdir = "2"
regex = "1.12.2"
anyhow = "1.0.100"
reqwest = { version = "0.12.26", default-features = false, features = ["blocking", "rustls-tls"] }

[[bench]]
name = "converters"
harness = false

[[bench]]
name = "vsop87"
harness = false
